*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: white;
}

p {
    font-size: 1.8rem;
}

body {
    background-image: url('../img/night-landscape-with-lake-mountains-trees-coast-vector-cartoon-illustration-nature-scene-with-conife/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.title {
    font-size: 6rem;
    margin-left: 1rem;
    
}


.header-container input {
    text-align: center;
    background-color: transparent;
    font-size: 1.5rem;
    border: 1px solid white;
    height: 3rem;
    border-radius: 5px;
    
}

.middle {
    background: linear-gradient(to right, transparent 0%, rgba(0, 0, 0, 0.6) 50%, transparent 100%);
    display: inline-block;
    width: 80%;
    margin-top: 2rem;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 2rem;
}
.search-bar {
    margin-top: 1rem;
    margin-left: 2rem;
}

/* location and current details */
.city-name {
    font-size: 5rem;
    text-align: center;
    margin-top: 2rem;
}

.weather-icon {
    display: flex;
    align-items: center;
}

.location-current-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20rem;
}

.current-details {
    margin-top: 2rem;
}

/* forecast */

.forecast-container {
    display: flex;
    justify-content: end;
    margin-top: 5rem;
    gap: 2rem;
}

.forecast-container:last-child {
    margin-right: 2rem;
    
}

.forecast {
    background: linear-gradient(to left, transparent 0%, rgba(0, 0, 0, 0.6) 50%, transparent 100%);
}

.day-of-the-week {
    font-weight: 900;
    font-size: 2rem;
    text-decoration: underline;
    margin-bottom: 1rem;
}

.main-day {
    font-weight: 900;
    font-size: 2rem;
    text-decoration: underline;
}

.error {
    background-color: red;
    width: fit-content;
    font-size: 1.2rem;
    width: 310px;
    border-end-start-radius: 2px;
}

.visible {
    display: none;
}