* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container > div + div {
    border: 1px solid;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 1fr 3fr 1fr;
    grid-template-areas: 
    'dashboard nav nav nav'
    'dashboard main-content main-content main-content'
    'dashboard main-content main-content main-content'
    'dashboard main-content main-content main-content'
    ;
}

.dashboard {
    grid-area: dashboard;
}

.nav {
    grid-area: nav;
}

.main-content {
    grid-area: main-content;
    background-color: #eee3fa;
}

.dashboard {
    position: relative;
    background-color: #DEFDE0;
    display: flex;
    flex-direction: column;
    justify-items: center;
}

 
.logo2 p, 
logo3 p {
    font-size: 18px;
}

.logo img,
.top-avatar {
    width: 2.2rem;
}

.logo2 img, 
.logo3 img, 
.top-img {
    width: 1.5rem;
}

.logo {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    gap:10px;
    margin-left: 30px;
    font-size: 28px;
}

#last-logo {
    
    margin-bottom: 4rem;
}

.logo2, 
.logo3
{
    margin-top: 5px;
    display: flex;
    align-items: center;
    gap:15px;
    margin-bottom: 10px;
    margin-left: 38px;
   
}

.tribute{
    position: absolute;
    bottom: 10px;
    font-size: 11px;
    align-self: center;
}

/* DASHBOARD END */

/* NAV START */

.nav {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
}

input {
    width: 800px;
    height: 28px;
    border-radius: 10px;
    border: 1px solid #eee3fa;
    background-color: #eee3fa;
    box-shadow: 1px 1px 1px 1px #dedede;
}

.top {
    margin-top: 10px;
    margin-left: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    
}

.top-search {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.top-avatar-bar {
    display: grid;
    grid-template-columns: repeat(3, auto);
    align-items: center;
    justify-content: end;
    justify-items: center;
    gap: 55px;
    margin-right: 50px;
    font-size: 1.25rem;
    font-weight: 700;
}